ng-fast-design-system-provider {
    width: 800px;
    height: 500px;
    display: block;
}

ng-fast-button {
    width: 200px;
    height: 100px;
    padding: 10px;
}

ng-fast-text-field {
    width: 200px;
    height: 100px;
    padding: 10px;
}

form {
    display: flex;
}